.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  visibility: hidden;
}

.modal__opened {
  visibility: visible;
}

.modal__container {
  background-color: rgba(255, 255, 255, 1);
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  height: 40px;
  width: 40px;
  background: none;
  background-position: center;
  padding: 0;
  background-image: url(../images/close_button.svg);
  border: none;
  opacity: 40%;
}

.modal__title {
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  padding: 16px 12px;
  gap: 10px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  opacity: 0px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

.modal__submit-button {
  width: 156px;
  height: 52px;
  padding: 18px;
  font-size: 16px;
  font-weight: 500px;
  line-height: 1;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  border-radius: 8px;
  border: none;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin-bottom: 24px;
    padding: 10px 0;
  }

  .modal__label {
    margin-bottom: 24px;
    color: rgba(33, 33, 33, 0.7);
  }

  .modal__input {
    font-size: 16px;
    color: rgba(33, 33, 33, 0.3);
    max-height: 48px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__submit-button {
    width: 100%;
  }

}